header h1 {
  text-align: center;
}

header {
  border: 2px solid grey;
  margin: 10px;
  padding: 5px;
  background-color: white;
}

header p button {
  float: left;
}

.pizza {
  border: 2px solid grey;
  margin: 10px;
  padding: 5px;
  background-color: white;
  height: 115px;
}

.pizza button {
  float: right;
}

#oma {
  height: 450px;
}

h6 {
  float: right;
}

.lista {
  width: 300px;
  float: left;
  margin-left: 50px;
}

body {
  width: 1100px;
  background-image: linear-gradient(to left, purple, gold);
  margin: 0 auto;
}
