h1 {
  color: white;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  padding-top: 5px;
}
p {
  color: white;
  width: 80%;
  margin-left: 10%;
  margin-top: 5px;
  margin-bottom: 5px;
}
article {
  background-color: #978800;
  width: 600px;
  margin: 0 auto;
  min-height: 400px;
}

input {
  margin-left: 20%;
  width: 40%;
}

.punainen {
  color: darkred;
  text-align: center;
}
.sininen {
  color: darkblue;
  text-align: center;
}
.vihreä {
  color: darkgreen;
  text-align: center;
}
ul {
  text-align: center;
  margin: 5px;
  padding: 5px;
}
li {
  min-height: 30px;
  margin-left: 30px;
  width: 500px;
  list-style: none;
  border: 2px solid;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px;
  background: darkblue;
  color: white;
}
li:hover {
  background: darkgray;
}

li > button {
  font-weight: normal;
  background: none;
  border: none;
  float: right;
  color: white;
  font-weight: 800;
}
.done {
  background: darkgreen !important;
  color: white;
}
.delete {
  display: none;
}
