body {
  margin: 0 auto;
  width: 400px;
}
fieldset {
  background-color: #f5dc00;
  padding: 5px 20px;
  min-height: 580px;
}
label {
  display: block;
  width: 10em;
  float: left;
  clear: left;
}

h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: red;
}
